* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

body {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

/**********************************Header********************************/
.tape-one {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 20px 1px rgba(2, 2, 2, 0.514);
}

.box-one {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 90%;

}

.tape-one nav {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: end;
    width: 100%;
}

.tape-one nav img {
    width: 50px;
}


.tape-one a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.tape-one a:hover {
    color: rgba(22, 134, 95, 1);
}

#color-green-acesso {
    color: rgba(22, 134, 95, 1);
}


input[type="checkbox"] {
    display: none;
}


label {
    background-color: rgba(34, 34, 34, 1);
    font-size: 19px;
    padding: 6px 8px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label i {
    color: white;
    margin-top: 2px;
    z-index: 1;
}

label .bi-sun {
    color: rgba(34, 34, 34, 1);
}

.dark-mode label {
    background-color: white;
}


.dark-mode,
.dark-mode header {
    background-color: rgba(34, 34, 34, 1);
}

.dark-mode .tape-one a {
    color: white;
}

.dark-mode .tape-one a:hover {
    color: rgba(22, 134, 95, 1);
}

/**********************************Header********************************/


/***********************************Main*********************************/

main {
    flex: 1;
    /*Faz a divisão correta de acordo com o tamanho da tela*/
    height: 100%;

}

.section-title {
    width: 100%;
    padding-left: 100px;
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.section-title h2 {
    font-size: 30px;
    color: rgba(22, 134, 95, 1);
}



.section-text {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    flex-direction: column;
    gap: 25px;
}

section p {
    font-size: 20px;
}

/*Dark Mode*/

.dark-mode section p {
    /*Muda a cordo do "Utopia"*/
    color: white;
}


.section-icons {
    width: 100%;
}

.icons {
    display: flex;
    gap: 20%;
    padding: 100px;
    justify-content: center;
}

/***********************************Main*********************************/

@media screen and (max-width: 600px) {

    .tape-one {
        flex-direction: column;
        width: 100%;
    }

    .box-one {
        display: flex;
        gap: 60%;
        margin-bottom: 50px;
        margin-right: 40px;
    }

    .tape-one nav {
        padding-top: 40px;
        width: 90%;
        display: flex;
        gap: 18px;
        font-size: 130%;
    }

    .tape-one nav img {
        width: 40px;
    }

    .tape-one a {
        font-size: 70%;
    }


    .tape-one label {
        width: 50px;
        height: 30px;
        font-size: 14px;
    }




    .section-title {
        padding-left: 50px;
        padding-top: 50px;
    }

    .section-text {

        padding-left: 50px;
        padding-right: 50px;
    }

    section p {
        font-size: 15px;
    }


    .icons {
        width: 100%;
        display: flex;
        gap: 20%;
        padding: 30px;
    }

    .section-icons .icons img {
        width: 10%;
    }
}